body{
    font-family: 'Lato', sans-serif;
    color: $color-gray-900;
}
ul{
    padding: 0;
}
li{
    list-style-type: none;
}
a{
    color: $color-gray-900;
    text-decoration: none;
    cursor: pointer;
    &:hover{
        color: $color-primary;
    }
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}