//color
$color-primary: #198754;
$color-gray-2:#00000062;
$color-gray-900:#212529;
$color-gray-600:#6C757D;
$color-gray-400:#CED4DA;
$color-gray-200:#F4f5F6;
$color-gray-100:#F8F9FA;

// font-size
$fz-xs: 12px;
$fz-s: 14px;
$fz-base: 16px;
$fz-m: 18px;
$fz-l: 20px;
$fz-xl: 24px;